* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,
main,
footer,
body {
    font-family: 'Amiko', sans-serif;
}

.header-dynamic {
    background-color: #f6a1a1;
    display: flex;
    padding: 21px 24px 22px 0px;
    justify-content: right;
}

header nav {
    width: 1440px;
    justify-content: center;
    background-color: #f6a1a1;
    padding: 34px 0px 38px 0px;
}

nav a {
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    text-decoration: none;
    color: #000000;
}

nav a:nth-child(2) {
    margin-top: 18px;
}

nav a:nth-child(3) {
    margin-top: 18px;
    margin-left: 18px;
}

nav a:nth-child(4) {
    margin-top: 18px;
    margin-left: 17px;
}

header nav a:nth-child(2):hover,
header nav a:nth-child(3):hover,
header nav a:nth-child(4):hover {
    animation: elongate 0.6s linear;
}

@keyframes elongate {
    0% {
        letter-spacing: normal;
    }

    50% {
        letter-spacing: 2px;
    }

    100% {
        letter-spacing: normal;
    }
}


.basic-footer {
    height: 41px;
    background-color: black;
    width: 1440px;
}

.footer-fixed {
    width: 1440px;
    height: 41px;
    background-color: black;
    bottom: 0;
    position: fixed;
}

.row {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.current-page-marker {
    align-items: center;
}

.mix-container {
    margin: 91px 315px 145px 244px;
    width: 881px;
    gap: 70px;
}

.content-text {
    margin-top: 176px;
    line-height: 32px;
    font-size: 24px;
    font-weight: 700;
}

.content-text h1 {
    font-size: 72px;
    line-height: 96px;
}

/* grid start */

.grid-container {
    width: 437px;
}

/* left column start */

.grid-column-left {
    row-gap: 7px;
    margin-top: 44px;
}

.grid-column-left div:nth-child(1) {
    width: 75px;
    height: 23px;
}

.grid-column-left div:nth-child(2) {
    width: 136px;
    height: 46px;
}

.grid-column-left div:nth-child(3) {
    width: 134px;
    height: 404px;
}

.grid-column-left div:nth-child(4) {
    width: 75px;
    height: 23px;
}

/* bottom of the left colomn */

.gcl-bottom {
    gap: 7px;
}

.gcl-bottom div:nth-child(1),
.gcl-bottom div:nth-child(2) {
    width: 25px;
    height: 26px;
}

/* end of left column */

/* start of right column */

.grid-column-right {
    margin-left: 13px;
}

/* top of right column */

.gcr-top {
    gap: 14px;
}

.gcr-top div:nth-child(1) {
    margin-top: 44px;
    width: 246px;
    height: 352px;
}

/* right side of the top of the right column */

.gcrt-right {
    gap: 11px;
}

.gcrt-right div:nth-child(1),
.gcrt-right div:nth-child(2),
.gcrt-right div:nth-child(3) {
    margin: 0px;
    width: 28px;
    height: 55px;
}

.gcrt-right div:nth-child(4) {
    width: 28px;
    height: 198px;
}

/* end of top of right column */

/* bottom of right column */

.gcr-bottom {
    gap: 14px;
    margin-top: 16px;
}

.gcr-bottom div:nth-child(1) {
    width: 123px;
    height: 212px;
}

/* right side of bottom of right column */

.gcrb-right {
    gap: 7px;
}

.gcrb-right div:nth-child(1) {
    width: 151px;
    height: 106px;
}

.gcrb-right div:nth-child(2) {
    width: 110px;
    height: 58px;
}

/* top of the right side of the bottom of the right column */

.gcrbr-top {
    gap: 41px;
}

.gcrbr-top div:nth-child(1),
.gcrbr-top div:nth-child(2) {
    width: 55px;
    height: 105px;

}

/* end of right column */

.rectangle {
    background-color: #EBEF18;
}

.gray-rect {
    width: 457px;
    height: 299px;
    background-color: #C4C4C4;
}

.ellipse {
    width: 14px;
    height: 14px;
    background-color: #F72828;
    border-radius: 100px;
    position: relative;
    margin-bottom: 4px;
    /* in the figma file the ellipse is not centered over the word */
}

.square {
    width: 80px;
    height: 80px;
    background-color: black;
    position: relative;
    top: 0;
    right: 0;
}

.stairs-container {
    padding: 119px 0px 0px 151px;
    gap: 55px;
}

.stairs-left {
    gap: 70px;
}

.stairs-right {
    gap: 70px;
    margin-top: 168px;
}

.sidebar {
    margin-left: 151px;
    height: 2103px;
    min-width: 169px;
    max-width: 169px;
    top: 122px;
    right: 0;
    background-color: #EBEF18;
}

.sidebar p {
    display: flex;
    position: relative;
    align-items: flex-end;
    font-size: 96px;
    line-height: 128px;
    top: 1240px;
    left: 44px;
    text-align: center;
    width: 81px;
    align-items: center;
}

.sidebar a {
    text-decoration: none;
    color: black;
}

.wrapper {
    width: 100%;
    align-items: center;
}

.dynamic-header {}

.dynamic-nav {
    align-items: flex-start;
    background-color: #E5E5E5;
    width: 372px;
    padding: 105px 43px 0px 38px;
    margin: 0;
}

.dynamic-nav a:nth-child(2):hover,
.dynamic-nav a:nth-child(3):hover,
.dynamic-nav a:nth-child(4):hover {
    animation: bounce 0.6s linear;
}

@keyframes bounce {
    0% {
        margin-top: 18px;
    }

    50% {
        margin-top: 13px;
    }

    100% {
        margin-top: 18px;
    }
}

.top-row {
    align-items: stretch;
}

.game-container {
    width: 100%;
    min-height: 995px;
    margin-right: 123px;
    padding: 123px 64px;
    gap: 132px;
    flex-wrap: wrap;
}

.sidebar-alternate {
    width: 123px;
    background-color: brown;
    right: 0;
}

.bottom-row {
    width: 100%;
    height: 463px;
    background-color: darkmagenta;
}

@media screen and (max-width:850px) {

    .sidebar-alternate {
        display: none;

    }

    .top-row {
        flex-direction: column;
    }

    .dynamic-nav {
        width: 100%;
        height: fit-content;
        justify-content: center;
        padding: 27px 0px;
    }
}

.game-square {
    font-size: 64px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}